{% extends 'base.html' %}

{% block header %}
  <h1 class="w3-margin w3-jumbo">{% block title %}Weather vs Phenology{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>About Us</h1>
        <h5 class="w3-padding-32">Our Story</h5>
        <p class="w3-text-grey">Water availability is vital to human communities as well as the environment. Specifically, water availability greatly affects biodiversity around the world. Reports have shown that human-cause warming can be attributed to drought conditions (<a href="https://www.nature.com/articles/nclimate2067#citeas" target="_blank">2014, Nature Clim Change</a>).</p>

        <p>This website will provide information and analysis specifically on the effect of drought in California on plant grouwth. California experiences limited rainfall each year and rising temperatures, resulting in mainly dry seasons and lasting consequences. This leads to <a href="https://en.wikipedia.org/wiki/Droughts_in_California" target="_blank">less water availability</a> in the environment, such as native and non-native plants.<p>

        <!-- 
          Why?

          Yet, ecosystem responses to drought remain largely absent from many drought-planning efforts, resulting in debates that often pit the water needs of humans against the needs of ecosystems. -->
      </div>
    </div>
  </div>

  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>Meet the Team</h1>
        <h5 class="w3-padding-32">Jovy</h5>
        <p class="w3-text-grey"></p>

        <h5 class="w3-padding-32">Ian</h5>
        <p class="w3-text-grey"></p>
      </div>
    </div>
  </div>



{% endblock %}

